* {
    border: none;
    border-radius: 0;
    font-family: "JetBrains Mono Nerd Font";
    font-size: 14px;
    min-height: 22px;
}

window#waybar {
    border-radius: 10px;
    background-color: #222327;
}

#workspaces button {
    transition: none;
    color: #7c818c;
    background: transparent;
    padding: 5px;
    padding-left: 8px;
    padding-right: 8px;
    font-size: 18px;
}

#workspaces button.active {
    border-radius: 10px;
    transition: none;
    color: #ffffff;
    background: #FF6077;
}

#workspaces button:hover {
    transition: none;
    box-shadow: inherit;
    text-shadow: inherit;
    border-radius: 10px;
    color: #ffffff;
    background: #FF6077;
}

#clock,
#battery,
#window,
#network,
#pulseaudio {
    margin-right: 3px;
    padding-left: 10px;
    padding-right: 10px;
    color: #ffffff;
}

#clock:hover,
#battery:hover,
#network:hover,
#pulseaudio:hover {
    background-color: #FF6077;
    border-radius: 10px;
}

#battery.charging,
#battery.full {
    color: #ffffff;
    background-color: #9ED072;
}

#battery.critical:not(.charging) {
    background-color: #FF6077;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes blink {
    to {
        background-color: #55393D;
        color: #000000;
    }
}
