* {
    border: none;
    border-radius: 0;
    font-family: "JetBrains Mono Nerd Font";
    font-size: 14px;
    font-weight: 600;
    min-height: 22px;
}

window#waybar {
    border-radius: 10px;
    background-color: #222327;
}

#workspaces button {
    transition: none;
    color: #EBDBB2;
    background: transparent;
    padding: 5px;
    padding-left: 8px;
    padding-right: 8px;
    font-size: 18px;
}

#workspaces button.active {
    border-radius: 10px;
    transition: none;
    color: #EBDBB2;
    background-color: #FB4934;
}

#workspaces button:hover {
    transition: none;
    box-shadow: inherit;
    text-shadow: inherit;
    border-radius: 10px;
    background-color: #FB4934;
    color: #EBDBB2;
}

#clock,
#battery,
#window,
#network,
#tray,
#pulseaudio {
    margin-right: 3px;
    padding-left: 10px;
    padding-right: 10px;
    color: #EBDBB2;
}

#clock:hover,
#battery:hover:not(.critical),
#network:hover,
#tray:hover,
#pulseaudio:hover {
    background-color: #FB4934;
    border-radius: 10px;
}

#battery.charging,
#battery.full {
    color: #EBDBB2;
    background-color: #B8BB26;
    border-radius: 10px;
}

#battery.critical:not(.charging) {
    border-radius: 10px;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes blink {
    to {
        background-color: #FB4934;
        border-radius: 10px;
        color: #EBDBB2;
    }
}
