* {
    font-family: 'JetBrainsMono Nerd Font';
    font-size: 14px;
}


#window {
    margin: 0px;
    border: none;
    border-radius: 10px;
    background-color: #222327;
    color: #EBDBB2;
}

#input {
    margin: 25px;
    background-color: #2C2E34;
    color: #EBDBB2;
    border-radius: 10px;
    border: none;
}

#scroll {
    margin-bottom: 25px;
}

#entry {
    margin: 0px 25px;
}

#entry:selected {
    background-color: #FB4934;
    border-radius: 10px;
    border: none;
    outline: none;
}

#entry>box {
    margin-left: 15px;
}

#entry image {
    padding-right: 10px;
    padding-left: 10px;
}
